@import'fonts.scss';

header {
   height: 160px;
   width: 100%;

   background-color: #2e282a91;
   margin-bottom: 30px;
}
.header__logo {
   padding-left: 70px;
   display: inline-block;
   padding-top: 40px;
   font-size: 50px;
   line-height: 37px;
   font-weight: 700;
   color: whitesmoke;
   font-family: 'Dancing Script', cursive;

   #r {
      color: #CD5334;
   }
   #m {
      color: #17BEBB;
   }
   .cinema {
      display: inline-block;
      text-decoration: line-through;
      text-shadow: 0px 0px 10px rgba(218, 165, 32, 0.123);
      font-family: 'El Messiri', sans-serif;
      margin-left: 78px;
      font-size: 34px;
      text-transform: uppercase;
   }
}

.menu {
   margin-top: -50px;
   display: flex;
   justify-content: center;
   align-items: center;

   .menu__list {
      margin-left: 50px;
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'El Messiri', sans-serif;
      font-weight: 700;
      cursor: pointer;

      &:hover {
         transition: 0.2s;
         color: whitesmoke;
      }
   }

   li:nth-child(1) {
      color: #CD5334;
      margin-left: 0px;
   }
   li:nth-child(2) {
      color: #17BEBB;
   }
   li:nth-child(3) {
      color: #CD5334;
   }
   li:nth-child(4) {
      color: #17BEBB;
   }
   li:nth-child(5) {
      color: #CD5334;
   }
}